<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ypx.imagepicker">
    <!-- 读取媒体文件 -->
    <uses-permission android:name="com.android.providers.media.MediaProvider" />
    <!-- 往SDCard写入数据权限,将更新的APK临时存在SD卡里 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 相册 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.ypx.imagepicker.activity.ImagePickAndCropActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>